/* D */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-size: 2vw;
}
@media (min-width: 20em) {
  html {
    font-size: 2.75vw;
  }
}
@media (min-width: 46em) {
  html {
    font-size: 2.25vw;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 1.5vw;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background: #33c0a7;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-size: 100%;
}

/* HIDDEN */
#vipcopyright,
#finder_header,
#finder_BFBRCD,
#finder_BFPTYP,
fieldset#finder_form legend,
fieldset#finder_results legend,
div#panel_search_results  {
  display: none !important;
}

/* WRAPPER */
div#content {
  margin: 0 1.25rem;
}

/* FORM */
fieldset#finder_form {
  padding: 7rem 0 0 0;
  text-align: left;
  text-transform: uppercase;
}
/* FORM INPUTS */
fieldset#finder_form input,
fieldset#finder_form select {
  width: 100%;
  display: block;
  margin: 0.75rem 0;
}
/* FORM BACKGROUND IMAGE */
fieldset#finder_form::before {
  content: "";
  display: block;
  width: 20rem;
  height: 4rem;
  background-image: url("https://jeffschram.github.io/colimita-finder-styles/find-colimita-sm.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* FORM AND RESULTS */
fieldset#finder_form,
fieldset#finder_results {
  border: none;
  margin: 0;
}

/* RESULTS  */
fieldset#finder_results {
  padding: 0;
  position: relative;
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
}
/* RESULTS CANVAS */
fieldset#finder_results #map_canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 46em) {

  /* WRAPPER */
  div#content {
    margin: 0;
    display: flex;
  }

  /* FORM AND RESULTS */
  fieldset#finder_form,
  fieldset#finder_results {
    height: 100vh;
  }

  /* FORM */
  fieldset#finder_form {
    margin: 0;
    overflow: auto;
    background: #33c0a7;
    flex-basis: 20rem;
    padding: 7rem 4rem 0 calc(4.625rem + ((100vw - 65rem) / 2));
    background-position: calc(4.625rem + ((100vw - 65rem) / 2)) 8rem;
  }

  /* FORM BACKGROUND IMAGE */
  fieldset#finder_form::before {
    height: 8rem;
    width: 8rem;
    background-image: url("https://jeffschram.github.io/colimita-finder-styles/find-colimita-lg.png");
  }

  /* FINDER RESULTS */
  fieldset#finder_results {
    flex: 2;
    margin: 0;
    height: 100vh;
    display: block;
    background: yellow;
    background: #e8e8e8;
  }  
}
